:root {
  /* Typography */
  --font-family-main: "Open Sans Regular", system-ui, -apple-system, sans-serif;
  --font-size-xs: 12px;
  --font-line-xs: 20px;
  --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);
  --font-size-s: 14px;
  --font-line-s: 22px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  /* grey */
  --color-grey-darkest: #111927;
  --color-grey-dark: #384250;
  --color-grey-main: #6c737f;
  --color-grey-light: #f3f4f6;
  --color-grey-lightest: #f8f9fa;

  /* blue */
  --color-blue-main: #2970ff;
  --color-blue-dark: #004eeb;
  --color-blue-darkest: #00359e;

  /* indigo */
  --color-indigo-main: #6366f1;
  --color-indigo-dark: #4338ca;
  --color-indigo-darkest: #312e81;

  /* green */
  --color-green-main: #16b364;
  --color-green-dark: #087443;
  --color-green-darkest: #084c2e;

  /* success */
  --color-success-main: #15b79e;
  --color-success-dark: #107569;
  --color-success-darkest: #134e48;

  /* info */
  --color-info-main: #06aed4;
  --color-info-dark: #0e7090;
  --color-info-darkest: #164c63;

  /* warning */
  --color-warning-main: #f79009;
  --color-warning-dark: #b54708;
  --color-warning-darkest: #7a2e0e;

  /* error */
  --color-error-main: #f04438;
  --color-error-dark: #b42318;
  --color-error-darkest: #7a271a;

  /* overlay */
  --color-overlay: rgb(0 0 0 / 60%);

  /* bars */
  --outbar-bg: #1c2536;
  --outbar-color: #9da4ae;
  --outbar-item-hover: rgba(255 255 255 / 4%);
  --outbar-item-active: rgba(255 255 255 / 10%);

  /* Measures */

  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  /* z indexes */

  --z-index-modal: 10;
}
