.color {
  &-primary {
    color: var(--primary-color);
  }

  &-secondary {
    color: var(--secondary-color);
  }

  &-theme {
    color: var(--color-indigo-main);
  }

  &-error {
    color: var(--color-error-main);
  }

  &-warning {
    color: var(--color-warning-main);
  }

  &-success {
    color: var(--color-success-main);
  }

  &-info {
    color: var(--color-info-main);
  }
}

.size {
  &-xs {
    font: var(--font-xs);
  }

  &-s {
    font: var(--font-s);
  }

  &-m {
    font: var(--font-m);
  }

  &-l {
    font: var(--font-l);
  }

  &-xl {
    font: var(--font-xl);
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.striketrough {
  text-decoration: line-through;
}
