.app.theme-dark {
  --bg-color: #0e1320;
  --inverted-bg-color: #fff;
  --primary-color: #edf2f7;
  --secondary-color: #a0aec0;
  --link-color-primary: var(--color-blue-main);
  --link-color-green: var(--color-green-main);
}
