.theme-dark {
  --bg-color: #0e1320;
  --inverted-bg-color: #fff;
  --primary-color: var(--color-white);
  --secondary-color: #a0aec0;
  --field-border-color: #2d3748;
  --field-hover-color: rgba(255 255 255 / 3%);
}
