.app.theme-default {
  --bg-color: #fff;
  --inverted-bg-color: #0e1320;
  --primary-color: #111927;
  --secondary-color: #6c737f;
  --link-color-primary: var(--color-blue-dark);
  --link-color-green: var(--color-green-dark);
}
