.Button {
  cursor: pointer;
  color: var(--bg-color);
}

.clear {
  margin: 0;
  border: none;
  outline: none;
  padding: 0;
  background: none;
}

.primary {
  border-radius: 12px;
  border: none;
  padding: 8px 20px;
  background-color: var(--color-blue-main);
  font: var(--font-m);
  color: var(--color-white);
}
