.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--outbar-bg);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--outbar-color);
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;

  &__item {
    color: var(--color-white);
  }
}

// #1C2536
