.ProfileCard {
  border-radius: 20px;
  border: 1px solid var(--field-border-color);
  display: block;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

.data {
  margin-top: 30px;
}

.field {
  margin-top: 10px;
}

.btn {
  &_edit {
    margin-left: auto;
  }
}
