.ProfileCard {
  position: relative;
  border-radius: 20px;
  border: 1px solid var(--field-border-color);
  display: block;
  padding: 20px;
}

.editing {
  border: 1px solid var(--color-warning-main);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  margin-top: 10px;
}

.btn {
  &_edit {
    margin-left: auto;
  }
}
